.titleBar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleBar > h1 {
	margin: 0;
	padding: 0;
}

.titleBar > p {
	margin: 0;
	padding-top: 0.5em;
}

.form {
	margin-right: 50px;
}

.comps {
	display: flex;
	justify-content: space-around;
}

.contacts-view > h3 {
	text-align: center;
}

.table {
	width: 600px;
	display: grid;
	grid-template-columns: 0.5fr 1fr 1.5fr 1.5fr 1fr;
	justify-items: flex-start;
}

.submit-btn {
	margin-top: 1em;
	background-color: aquamarine;
}

.submit-btn:hover {
	margin-top: 1em;
	background-color: paleturquoise;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.edit-btn {
	margin-top: 1em;
	background-color: lightsalmon;
}

.edit-btn:hover {
	margin-top: 1em;
	background-color: palevioletred;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	color: white;
}

.firstLink {
	margin-right: 20px;
}

.table > p {
	margin-bottom: 5px;
}

.action-icon {
	filter: grayscale(100%);
}

.action-icon:hover {
	filter: grayscale(0);
	cursor: pointer;
}

/* * {
	border: 1px dashed red;
} */
