.logo {
	width: 100px;
	margin-right: 1em;
}

.header {
	display: flex;
	justify-content: center;
}

.titleBar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleBar > h1 {
	margin: 0;
	padding: 0;
}

.titleBar > p {
	margin: 0;
	padding-top: 0.5em;
}

.form {
	margin-right: 50px;
}

.comps {
	display: flex;
	justify-content: space-around;
}

.contacts-view > h3 {
	text-align: center;
}

.table {
	width: 600px;
	display: grid;
	grid-template-columns: 0.5fr 1fr 1.5fr 1.5fr 1fr;
	justify-items: flex-start;
}

.submit-btn {
	margin-top: 1em;
	background-color: aquamarine;
}

.submit-btn:hover {
	margin-top: 1em;
	background-color: paleturquoise;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.edit-btn {
	margin-top: 1em;
	background-color: lightsalmon;
	padding: 5px 10px;
}

.edit-btn:hover {
	margin-top: 1em;
	background-color: palevioletred;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	color: white;
}

.cancel-btn {
	padding: 5px 10px;
}

.firstLink {
	margin-right: 20px;
}

.table > p {
	margin-bottom: 5px;
}

.action-icon {
	filter: grayscale(50%);
}

.action-icon:hover {
	filter: grayscale(0);
	cursor: pointer;
}

.action-icon:hover .tooltip-text {
	visibility: visible;
}

.edit-icon {
	position: relative;
}

.tooltip-text {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	max-width: 50px;
	color: white;
	font-size: 0.8em;
	background-color: #192733;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	top: 20px;
}

.action-icon:hover .tooltip-text {
	visibility: visible;
}

.edit-icon {
	position: relative;
}

.searchForm {
	display: flex;
	position: relative;
}
.searchBar {
	width: 95%;
	margin-right: 0;
	padding-right: 0;
}

.search-btn {
	position: absolute;
	right: 1.5em;
	cursor: pointer;
}
/* * {
	border: 1px dashed red;
} */

/* search-bar */
